@{
  Layout = "_Layout";
}

@using Ratstaurant.Models;
@model Ratstaurant.Models.Review

  <h4>Write a Review!</h4>
  <div class="well">
  @using (Html.BeginForm())
  {
      @Html.LabelFor(model => model.User)
      @Html.TextBoxFor(model => model.User)
      @Html.LabelFor(model => model.Critique)
      @Html.TextBoxFor(model => model.Critique)

      <input type="submit" value="Submit Review"/>
  }

  </div>